#bild
{
	/*background:url("../img/PsykologiLogo.jpg") center no-repeat;*/
	background-color: rgb(256, 256, 256);
	background-size:contain;
	width: 100%;
	max-height: 230px;
	min-height:230px;
}


.header
{
	background-attachment: fixed
}



/*colors*/
.red
{
	background-color:red;
}
.green
{
	background-color:green;
}
.blue
{
	background-color:blue;
}



/*paralax*/
body, html{
	height:100%;
	margin:10;
	font-size:8px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height:1em;
	color:#666;
}

body {
	margin: 0;
	font-size: 28px;
}

.header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
}


.content {
	padding: 16px;
}

.section{
	text-align:center;
	padding:50px 80px;
}

.section-light{
	background-color:#f4f4f4;
	color:#666;
}

.section-dark{
	background-color: #303040;
	background-color:#282e34;
	color:#ddd;
}
.images
{
	max-width: 200px;
	max-height: 400px;

}

.grid
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	max-width: 810px;
}
.gridItem
{
	max-width: 200px;
	max-height: 400px;
}



.span-col-2
{
	grid-column: span 2 / auto;
}



@media(max-width:568px){
}

@media screen and (max-width: 600px)
{
}
